
@model int

@{
    ViewBag.Title = "Complete";
}





<h2>Orden Completa</h2>

<p>Gracias por hacer tu orden! tu numero de orden es @Model, <br /> estaremos en contacto contigo cuando tu orden se ha aprobada</p>
<p>
    Continua Comprando @Html.ActionLink("Inicio", "Index", "Home")
</p>